<div class="card-item" [class.card-item--active]="selected">
  <div class="card-img">
    <img src="assets/img/portfolio/item_1.png" alt="">
    <span class="card-empresa">SENAI</span>
  </div>
  <div class="card-content">
    <h5 class="title">ENGENHARIA REVERSA DE MOTOR</h5>
    <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat libero vel purus pulvinar, nec mollis justo convallis.</p>
    <div class="card-content-bottom">
      <p class="fleft card-time">Realizado a <span>2 ANOS</span></p>
      <tk-button></tk-button>
    </div>
  </div>
</div>
