<section>
  <a name="sobre"></a>
  <md-tab-group>
    <md-tab>
      <template md-tab-label>
        SOBRE
      </template>
      <div class="about-item about-about" md-tab-body>
        <h3 class="ls-title">Nossa <span>Empresa</span></h3>
        <p class="ln-msg">Fundada em 2010 a TEKMES, do grupo Tonhelski & Souza, é uma experiente e dinâmica empresa sediada em São Leopoldo no Rio Grande do Sul. Tendo como principal atividade o fornecimento de SOLUÇÕES EM PRODUTOS E PROCESSOS que envolvem CAD, INSPEÇÃO TRIDIMENSIONAL e ENGENHARIA, é inovadora nas soluções de DIGITALIZAÇÃO TRIDIMENSIONAL por luz branca estruturada e por fotogrametria.</p>
        <a md-raised-button routerLink=".">LER MAIS</a>
      </div>
    </md-tab>
    <md-tab>
      <template md-tab-label>
        EQUIPE
      </template>
      <div class="about-item" md-tab-body>
        <article>
          <picture class="equipe-membro">
              <!--[if IE 9]><video style="display: none;"><![endif]-->
              <!-- <source srcset="smaller.jpg" media="(max-width: 768px)"> -->
              <source srcset="assets/img/fabio.jpg">
              <!--[if IE 9]></video><![endif]-->
              <img srcset="assets/img/fabio.jpg" alt="My default image">
              <figcaption class="equipe-nome"><h4>Fábio Souza</h4>Sócio-gerente</figcaption>
          </picture>
          <p class="ln-msg">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.</p>
        </article>
      </div>
    </md-tab>
    <md-tab>
      <template md-tab-label>
        INOVAÇÃO
      </template>
      <div class="about-item" md-tab-body>
        <h3 class="ls-title"><span>INOVAÇÃO NO MUNDO TRIDIMENSIONAL</span></h3>
        <p class="ln-msg">Através do processo de DIGITALIZAÇÃO TRIDIMENSIONAL é possível extrair o formato digital de qualquer objeto físico e utilizar esses dados para SOLUCIONAR PROBLEMAS, reproduzir, estudar, analisar, inspecionar ou utilização em outras aplicações. Estes dados digitais podem ser fornecidos em diversos formatos incluindo pontos XYZ, também comumente chamado de nuvem de pontos, (STL), modelos sólidos, relatórios de inspeção tridimensional em cores e podem ser exportados para qualquer sistema CAD.<br> A TEKMES oferece SOLUÇÕES 3D INOVADORAS e abrangentes que podem ajudar os seus clientes a enfrentar os desafios atuais existentes no desenvolvimento, controle da qualidade e representação 3D do produto.</p>
      </div>
    </md-tab>
    <md-tab>
      <template md-tab-label>
        EQUIPAMENTOS
      </template>
      <div class="about-item" md-tab-body>
        <h3 class="ls-title"><span>Equipamentos</span></h3>
        <p class="ln-msg">Através do processo de DIGITALIZAÇÃO TRIDIMENSIONAL é possível extrair o formato digital de qualquer objeto físico e utilizar esses dados para SOLUCIONAR PROBLEMAS, reproduzir, estudar, analisar, inspecionar ou utilização em outras aplicações. Estes dados digitais podem ser fornecidos em diversos formatos incluindo pontos XYZ, também comumente chamado de nuvem de pontos, (STL), modelos sólidos, relatórios de inspeção tridimensional em cores e podem ser exportados para qualquer sistema CAD.<br> A TEKMES oferece SOLUÇÕES 3D INOVADORAS e abrangentes que podem ajudar os seus clientes a enfrentar os desafios atuais existentes no desenvolvimento, controle da qualidade e representação 3D do produto.</p>
      </div>
    </md-tab>
  </md-tab-group>
</section>
