<header class="header">
  <toolbar></toolbar>
  <section id="banner">
    <a class="scroll-ancora" name="inicio"></a>
    <div class="content">
      <h2>Soluções em<br> Produtos e Processos</h2>
      <div class="scroll-box">
        <ul>
          <li>
            <h3>“A TEKMES oferece SOLUÇÕES 3D INOVADORAS e abrangentes que podem ajudar os seus clientes a enfrentar os desafios atuais existentes no desenvolvimento, controle da qualidade e representação 3D do produto.”</h3>
          </li>
          <li>
            <h3>“A TEKMES oferece SOLUÇÕES 3D INOVADORAS e abrangentes que podem ajudar os seus clientes a enfrentar os desafios atuais.”</h3>
          </li>
          <li>
            <h3>“A TEKMES oferece SOLUÇÕES 3D INOVADORAS e abrangentes que podem ajudar os seus clientes a enfrentar os desafios atuais existentes no desenvolvimento, controle da qualidade e representação 3D do produto.”</h3>
          </li>
        </ul>
      </div>
    </div>
    <ul class="pg-list">
      <li class="pg-item active"><a href="#">1</a></li>
      <li class="pg-item"><a href="#">2</a></li>
      <li class="pg-item"><a href="#">3</a></li>
    </ul>
    <div class="nks_cc_trigger_tabs ncf_tab ncf_label_visible" style="display: none;">
      <span class="fa-stack ncf-tab-icon fa-lg fa-2x">
        <i class="fa-stack-2x material-icons md-light md-16 btn-open">mail</i>
        <i class="fa-stack-1x material-icons md-light md-16 fa-inverse btn-close">close</i>
      </span>
    </div>
  </section>
</header>
