body{
	padding-top: 8%; /*defualt - offjs */
}
.header{
	position: relative;
	color:white;
	z-index: 101;
}
.header>section{
	clear:both;
	text-align: center;
	background: url("/tekmes/assets/img/banner.jpg") no-repeat center center;
	background-size: cover;
	width: 100%;
	padding: 5em 0;
	font-family: "Montserrat";
}
.header h2{
	margin-bottom: 1.2em;
	position: relative;
	font-size: 1.56em;
  	text-transform: uppercase;
  	line-height: 1.098;
  	text-align: center;
  	text-shadow: 0.06em 0.09em 0.2px rgba(10, 10, 10, 0.2);
}
.header h2::before,
.header h2::after
{	position: absolute;
	content: "";
	width: 35%;
	left: 50%;
	top: -0.55em;
	border: solid #bf8f00;
	border-width: 0.15em 0 0;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.header h2::after{
	top: auto;
	bottom: -0.35em;
}
.header h3{
	width: 90%;
	text-shadow: 0 0 0.7em rgba(0,0,0,0.7);
	margin: 0 auto;
	line-height: 1.3;
	font-size: 0.9em;
}
#banner .scroll-box>ul{
    width: 300%;
}
#banner .scroll-box>ul>li{
    width: 33.333%;
    float: left;
}
@media (min-width: 34em) {
	.header>section{
		padding: 09em 0;
	}
	.header h2{
		font-size: 2.4em;
	}
	.header h3{
		font-size: 1em;
	}
	.header h2::before,
	.header h2::after{
		width: 15%;
	}
}
@media (min-width: 62em) {
	.header>section{
		padding: 15em 0;
	}
	.header h2{
		margin-bottom: 0.7em;
		font-size: 4em;
	}
	.header h3{
		width: 70%;
		font-size: 1.2em;
	}
	.header h2::before,
	.header h2::after{
		top: -0.4em;
		border-width: 0.1em 0 0;
		width: 20%;
	}
	.header h2::after{
		top: auto;
		bottom: -0.2em;
	}
}
