@import './reset.scss';
@import './fonts.scss';
@import './md.scss';
body{
	font-size: 14px;
  position: relative;
	min-height: 100%;
	height: 100%;
}
body, html{
	width: 100%;
	min-height: 100%;
}
main,
footer{
	z-index: 100;
}
header{
	/*z-index: 101;*/
}
.sz-40{
	width: 40%;
}
.sz-45{
	width: 45%;
}
.sz-50{
	width: 50%;
}
.sz-55{
	width: 55%;
}
.sz-60{
	width: 60%;
}
.fleft{
	float: left;
}
.fright{
	float: right;
}
.tleft {
	text-align: left;
}
.tag{
	background-color: red;
	padding: 0.2em 0.4em;
	color: white;
	border-radius: 0.4em;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.scroll-box {
    overflow: hidden;
}


section.sct{
	width: 100%;
	padding: 3em 0;
}
section.sct h3{
	color: #494949;
	font-size: 1.3em;
	margin-bottom: 1.1em;
}
section.sct h3,
section.sct h4{
	font-family: "Candara";
	text-align: center;
}
section.sct h4{
	display: none;
	width: 90%;
	font-size: 0.8em;
	margin: 0 auto;
}

#servicos-produtos.sct{
	background: white;
}
@media (min-width: 34em) {
	section.sct{
		padding: 5em 0 7.5em;
	}
	section.sct h4{
		width: 74%;
		display: block;
	}
	section.sct h4{
		font-size: 1em
	}
}
@media (min-width: 62em) {
  section.sct{
		padding: 6em 0 9.5em;
	}
	section.sct h3{
		color: #494949;
		font-size: 2em;
	}
}
