<details-header #header [editable]="true" [title]="(service | async)?.titulo"></details-header>
<content-internal [editable]="true" #content [firstColumn]="(service | async)?.conteudo1"
                  [secondColumn]="(service | async)?.conteudo2"></content-internal>
<footer-internal>
  <button (click)="save()" *ngIf="!inSaving" md-fab button-save>
    <md-icon>save</md-icon>
  </button>
  <md-progress-circle *ngIf="inSaving"
      mode="indeterminate" button-save>
  </md-progress-circle>
</footer-internal>
