body, html{
	width: 100%;
	min-height: 100%;
}
header{
	color:white;
}
nav{
	background: #494949;
	width: 100%;
	overflow: auto;
}
h1{
	float: left;
	background: #990000;
}
header>nav>ul{
	float: right;
}
ul>li{
	float: left;
}
header>section{
	clear:both;
	text-align: center;
	background: url("../img/banner.jpg") no-repeat center center;
	background-size: cover;
}
header>section>h2{
	width: 90%;
	margin: 0 auto;
}