.list-cards{
    text-align: center;
    font-family: "Signika Negative";
}
.card-item{
    width: 8%;
    border-radius: 0.4em;
    background-color: white;
    overflow: hidden;
    -webkit-transform: scale(0.79) translateY(14%);
    -ms-transform: scale(0.79) translateY(14%);
    -moz-transform: scale(0.79) translateY(14%);
    transform: scale(0.79) translateY(14%);
    border-bottom: 1px solid #DFDFDF;
    float: left;
    box-shadow: 0 0.5em 0.6em 0 rgba(10, 10, 10, 0.04 );
    cursor: zoom-in;
}
.card-item .card-img{
    position: relative;   
}
.card-img .card-empresa{
    bottom: 7%;
    right: 5%;
    padding: 0.2em 0.25em;
    border-radius: 0.3em;
    text-transform: uppercase;
    background-color: #ff0000;
    color: white;
    position: absolute;
}
.card-item.itemslide-active .card-empresa{
    left: 5%;
    right: auto;
    top: 7%;
    bottom: auto;

}
.card-time{
    text-transform: uppercase;
    font-weight: lighter;
    line-height: 2.8;
    font-size: 0.7em;
}
.card-item .card-content{
    color: #494949;
}
.card-item.itemslide-active .card-content{
    padding: 1.5em 0 3.2em;
}
.card-item .card-img img{
    width: 100%;
}
.card-item .card-content p,
.card-item .card-content .btn-view-details{
    display: none;
}

.card-item.itemslide-active .card-content p,
.card-item.itemslide-active .card-content .btn-view-details{
    display: inline-block;
}
.card-content .btn-view-details{
    border-radius: 0 0.4em 0.4em 0;
}
.card-description{
    display: block;
    margin: 0.6em 0.9em;
    font-size: 0.8em;
}
.card-item .title,
.card-item .title{
    margin: 2em 0;
    font-size: 0.9em;
    font-weight: bold;
}
.card-item.itemslide-active .title{
    margin: 0;    
}

/* Carousel Frame */
#scrolling {    
    /*margin-top: 5em;*/
    width: auto;
    overflow: hidden;
}

#scrolling>ul{
    width: 2000%;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
/* end - Carousel Frame */

.card-item.itemslide-active{
    cursor: pointer;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
}

@media (min-width: 34em) {
    .list-cards{
        font-size: 1.5em;
    }

    .card-item{
        width: 7%;
    }
    #scrolling {    
        margin-top: 5em;
    }
} 

@media (min-width: 50em) { 
    .list-cards .card-item{
        width: 6%;
        margin-left: 2em;
    }
}
@media (min-width: 62em) { 
	.list-cards .card-item{
		width: 5%;
	}
}