.list-sobre{
	font-size:0.65em;
	width: 100%;
}
.ls-nav{
	width: 100%;
	background-color: #939393;
	color: white;
}
.ls-nav>ul{
	width: 100%;
	margin: 0 auto;
}
.ls-nav>ul>li{
	text-align: center;
	float:left;
	width: 25%;
}
.ls-nav>ul>li>a,
.ls-title{
	font-family: "Candara";
}
.ls-nav>ul>li>a{
	padding: 1.4em 0;
	display: inline-block;
	font-size: 1.2em;
	color: white;
	text-transform: uppercase;
}
li.ls-nav-atual>a{
	width: 100%;
	background-color: #616161;
}

.list-sobre .ls-content{
	width: 400%;
}
.ls-item{
	padding: 5em 0;
 	background-color: #616161;
 	font-family: "Signika Negative";
	float: left;
	width: 25%;
}
.ls-title{
	font-size: 1.7em;
	text-transform: uppercase;
	text-align: center;
	color: #f1d06e;
	margin-bottom: 0.9em;
}
.ls-title span{
	font-size: 1.4em;
	font-weight: bold;
	color: #990000;
}
.ln-msg{
	width: 90%;
	line-height: 1.2;
	text-align: center;
	color: white;
	font-size: 1.5em;
	margin: 0 auto;
}
#item-sobre a{
	width: 20px;
	margin: 0 auto;
	display: inline-block;
}
@media (min-width: 34em) { 
	.list-sobre{
		font-size: 0.76em;
	}
	.ls-nav>ul{
		width: 75%;
		margin: 0 auto;
	}
	.ln-msg{
		width: 88%;
	}
}
@media (min-width: 62em) { 
	.list-sobre{
		font-size: 1em;
	}
	.ln-msg{
		font-size: 1em;
	}
}
