.list-sobre{
	font-size:0.5em;
	width: 100%;
}
.ls-nav{
	width: 100%;
	background-color: rgb(100, 100, 100);
	color: white;
	overflow: auto;
}
.ls-nav>ul{
	display: table;
	width: 100%;
	margin: 0 auto;
}
.ls-nav>ul>li{
	display: table-cell;
	text-align: center;
	width: 25%;
}
.ls-nav>ul>li>a,
.ls-title{
	font-family: "Candara";
}
.ls-nav>ul>li>a{
	padding: 1.4em 1.1em;
	display: inline-block;
	font-size: 1.5em;
	color: white;
	text-transform: uppercase;
}
li.ls-nav-atual>a{
	width: 100%;
	background-color: #7d7d7d;
}

.list-sobre .ls-content{
	width: 100%;
}
.ls-item{
	padding: 8em 0;
 	background-color: rgba(97, 97, 97, 0.82);
 	font-family: "Signika Negative";
	float: left;
	width: 25%;
}
.ls-title{
	font-size: 1.7em;
	text-transform: uppercase;
	text-align: center;
	color: #f1d06e;
	margin-bottom: 0.9em;
}
.ls-title span{
	font-size: 2em;
	font-weight: bold;
	color: #990000;
}
.ln-msg{
	width: 90%;
	line-height: 1.3;
	color: white;
	text-align: justify;
	font-size: 1.8em;
	margin: 0 auto;
}
#item-sobre{
	text-align: center;
}
#item-sobre .btn-action{
	margin: 2em auto 0;
}
.equipe-membro>img{
	border: 2em solid #aaa9a9;
    box-shadow: 0em 0em 1.5em rgba(0,0,0,0.1);
	border-radius: 50%;
	width: 40%;
}
.equipe-nome{
	margin: 1em 0 2.5em;
	color: white;
	font-size: 1.4em;
	text-transform: uppercase;
	line-height: 1.2;
	position: relative;
}
.equipe-nome>h4{
	text-transform: initial;
	font-size: 1.7em;
}
.equipe-nome::after {	
	position: absolute;
	content: "";
	width: 10%;
	left: 50%;
	bottom: -0.55em;
	border: solid #bf8f00;
	border-width: 0.15em 0 0;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
/*itemSlider*/
#sobre .scroll-box>ul{
    width: 400%!important;
    text-align: center;
}
#sobre .scroll-box>ul>li{
	width: 25%;
}
/* end - itemSlider*/

@media (min-width: 34em) { 
	.list-sobre{
		font-size: 0.75em;
	}
	.ls-nav>ul{
		width: 75%;
		margin: 0 auto;
	}
	.ln-msg{
		font-size: 1.4em;
		width: 88%;
	}
	.ls-title{
		font-size: 1.4em;
	}
	.equipe-membro>img{
		width: 20%;
		border-width: 1.4em;
	}
}
@media (min-width: 62em) { 
	.ls-nav>ul>li>a{
		font-size: 1.1em;
	}
	.ls-nav>ul>li>a{
		padding: 1.5em 1.1em;
	}
	.list-sobre{
		font-size: 1em;
	}
	.ln-msg{
		line-height: 1.5;
		text-align: center;
		width: 60%;
		font-size: 1em;
	}
	.equipe-membro>img{
		width: 15%;
	}
}
