section.sct{
	width: 100%;
	background: red;
	padding: 3em 0;
}
section.sct h3{
	color: #494949;
	font-size: 1.3em;
	margin-bottom: 1.1em;
}
section.sct h3,
section.sct h4{
	font-family: "Candara";
	text-align: center;
}
section.sct h4{
	display: none;
	width: 90%;
	font-size: 0.8em;
	margin: 0 auto;
}
section#noticias{
	overflow: auto;
}
#noticias>.content{
	margin: 0 auto;
	width: 80%;
	border-radius: 0.4em;
}
#servicos-produtos.sct,
#noticias{
	background: white;
}
#portfolio h3{
	/*color: white;*/
}
#portfolio{
	background: url("../img/pattern-portfolio.jpg");
	/*background-color: rgb(180, 116, 116);*/
	/*color: white;*/
	text-align: center;
}
#portfolio .pg-list{
	margin-top: 1.8em;
}
@media (min-width: 34em) { 
	#noticias>.content{
		width: 90%;
	}
	section.sct{
		padding: 4em 0 6em;
	}
	section.sct h4{
		width: 74%;
		display: block;
	}
	section.sct h4{
		font-size: 1em
	}
}
@media (min-width: 62em) { 
	#noticias>.content{
		width: 85%;
	}
	section.sct h3{
		color: #494949;
		font-size: 2em;
	}
}
