@import "headerInside.css";
@import "footerContact.css";
html {
  height: 100%;
}
.view-servico{
	position: relative;
	min-height: 100%;
	height: 100%;
}
.medium-editor-insert-plugin p{
	margin: 0 !important;
}
.contentInternal{
	font-family: "Candara";
	position: relative;
	z-index: 101;
	background: white;	
	overflow: auto;
}
.view-servico .contentInternal>div{
	width:50%;
	float: left;
 	padding: 30px;
}
html, body, .contentInternal { height: 100%; }
body > .contentInternal { height: auto; min-height: 100%; }