@import "headerInside.css";

.view-servico{
	padding-top: 40%;
}


.contentInternal{
	position: relative;
	z-index: 101;
	background: white;	
	overflow: auto;
}
.view-servico .contentInternal>div{
	width:50%;
	float: left;
 	padding: 30px;
}
.footerContact{
	position: absolute;
	bottom: 0;
	width: 100%;
    background-color: #b3b3b3;
    color: white;
    text-align: center;
   	padding: 5%;
}