@import "headerInside.css";
html {
  height: 100%;
}
.view-servico{
	position: relative;
	min-height: 100%;
	height: 100%;
}
.contentInternal{
	position: relative;
	z-index: 101;
	background: white;	
	overflow: auto;
}
.view-servico .contentInternal>div{
	width:50%;
	float: left;
 	padding: 30px;
}
.footerContact{
	clear: both;
    position: relative;
    width: 100%;
	z-index: 101;
    background-color: #b3b3b3;
    color: white;
    text-align: center;
   	padding: 5%;
}
html, body, .contentInternal { height: 100%; }
body > .contentInternal { height: auto; min-height: 100%; }