<footer>
    <section id="tarja-branca">
        <div class="redes">
            <h3 class="tb-title">Siga-nos</h3>
      <ul>
        <li><a href="">FACEBOOK</a></li>
        <li><a href="">YOUTUBE</a></li>
        <li><a href="">TWITTER</a></li>
        <li><a href="">LINKEDIN</a></li>
      </ul>
    </div>
    <div class="newsletter">
      <form action="">
        <legend class="tb-title">Quer saber as novidades?</legend>

        <md-input-container class="input-with-send" align="right">
          <input mdInput placeholder="Deixe seu email aqui" >
        </md-input-container>

        <button md-mini-fab title="Enviar"><md-icon>send</md-icon></button>
      </form>
    </div>
  </section>
  <div id="creditos">
    <small>© TEKMES. Todos os direitos reservados<span> Tonhelski & Souza Ltda - EPP</span></small>
    <p>feito por: <a href="">LEONARDOVFF</a></p>
  </div>
</footer>
